.Home {
    justify-self: center;
    height: 90%;
    width: 90%;
    margin: 0 auto;
    box-shadow: 2px 2px 3px 2px rgba(21, 20, 20, 0.4);
    border: 2px solid rgb(245, 245, 245);
    background-color: rgba(248, 248, 248, 0.9);
    overflow-y: auto;
    overflow-x: hidden;

    position: relative;
    .searchPanel {
        position: fixed !important;
        width: 29%;
        left: 5%;
        z-index: 5000;

        min-height: 80px;
        height: 100px;
        background-color: rgb(243, 237, 243);
        border: 2px solid rgba(170, 167, 164, 0.241);
        z-index: 1000;
    }
    .chatProperties {
        position: fixed !important;
        width: 59%;
        left: 34%;
        z-index: 5000;

        margin-top: 0;
        height: 100px;
        background-color: rgb(243, 237, 243);
        overflow-x: hidden !important;
        border: 2px solid rgba(170, 167, 164, 0.241);
    }

    .chatContainer_media {
        width: 100%;
    }
    .chatContainer {
        height: calc(100% - 100px);
        width: 100%;
        overflow-y: auto;
        margin-top: 100px;
        position: relative;
    }
    .dialogues {
        position: fixed;
        border: 1px solid rgb(208, 211, 210);
        background-color: rgb(248, 250, 250);
        height: calc(90% - 100px);
        width: 29%;
        overflow-y: auto;
        margin-top: 100px;     
    }
    .message_input {
        width: 59%;
        position: fixed;
        bottom: 5%;
        height: 50px;
        display: flex;
        background-color: rgb(233, 229, 197);
        justify-content: space-between;
        align-items: center;
        z-index: 9999;
        .attach {
            margin-left: 25px;
        }
        .audio_attach {
            margin-right: 15px;
        }
        svg {
            margin-right: 10px;
        }

        input {
            height: 30px;
            width: 70%;
        }
    }


    .chat {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .messages {
        padding-bottom: 50px;
    }
    .emptyData {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60vh;
    }
}




@media only screen and (min-width: 320px) {
    .chatContainer_media {
        width: 100% !important;
    }
}


@media only screen and (max-width: 576px) {
    .Home{
        .dialogues {           
            position: inherit !important;
            width: 100%; 
            margin-top: 0px;           
        }
        .searchPanel {
            position: inherit !important;
            width: 100%;
        }
        .chatProperties {
            position: inherit !important;
            width: 100%;
        }
        .message_input {
            width: 85%;
            input {
                width: 50% !important;
            }
        }
    }
}

@media only screen and (min-width: 576px) {
    .chatContainer_media {
        width: 70% !important;
    }
}
@media only screen and (min-width: 700px) {
    .chatContainer_media {
        width: 70% !important;
    }
}
@media only screen and (min-width: 900px) {
    .chatContainer_media {
        width: 100% !important;
    }
}