.dialogs__item {
    margin: 5px;
    overflow-x: hidden;
    min-height: 100px !important;
    align-items: center;
    background-color: rgb(254, 255, 253);
    .isOnline::after {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 5px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: greenyellow;
        z-index: 999;
    }
    .avatar_dialog_round {
        margin: auto 5% auto 5%;
        width: 45px;
        height: 45px;
        line-height: 60px;
        border-radius: 50%;
        text-align: center;
        align-items: center;
        span {
            display: inline-block;
            line-height: normal;
            vertical-align: center;
            font-size: 14px;
            font-weight: 600;
            position: inherit;
        }
    }
    .dialog_item_name_message {
        position: relative;
        padding-left: 15px;
        text-overflow: ellipsis;

        .dialog_item_name {
            font-size: 16px;
            h3 {
                color: rgb(44, 41, 41);
                margin-bottom: 0;
            }
        }
        .dialog_item_message {
            font-size: 14px;
            color: rgb(32, 170, 170);
            overflow: hidden;
            max-width: 10ch;
            max-height: 50px; 
        }
    }
    .date_last_message {
      position: absolute;
      font-size: 12px;
      color: rgb(26, 23, 23);
      top: 0;
      left:70%;
    }
} 
.dialogs__item:hover {
    background-color: rgb(250, 247, 248);
    box-shadow: 1px 1px 1px 3px rgb(233, 240, 237) !important;
    transition: background-color 1s ease;
    cursor: pointer;
}
.unreaded {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 70%;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    background-color: brown;
}