.emoji-mart {
    position: absolute;
    left: 0;
    bottom:50px;
    overflow-y: hidden;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
        display: inline;
        
    }
}
.emojiPickerBlock {
    position: absolute;
}
.invisible{
    display: none;
}